:root {
  --article-bg-color: #FFFFFF;
  --article-shadow-color: rgba(0, 0, 0, .1);
  --bg-color: #FAFAFA;
  --comment-bg-color: #FFF;
  --font-color: #333;
}

body {
  align-items: center;
  background-color: var(--bg-color);
  color: black;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: var(--article-bg-color);
  border-radius: 10px;
  box-shadow: 0 9px 10px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 30px;
}

.heading {
  background-color: var(--article-bg-color);
  letter-spacing: -2px;
  margin-bottom: 5px;
  padding: 10px 0;
  position: sticky;
  top: 0;
}

.comment {
  border: 3px solid rgb(237, 100, 100);
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  transition: transform 0.2s ease-in-out;
}

 .commentjeny {

  color: forestgreen;

 }

 .cajahr {
   
   border-color: blue;

 }

.mayor {
  opacity: 0.1;
}
.commetlargo {
  opacity: 0;
}

.comment:hover {
  transform: translateX(5px);

}
.favorito {
  color: rgb(90, 20, 220);
  background-color: green;
}

.comment--author {
  font-weight: bold;
  color: rgb(18, 0, 100);
}

.comment--text {
  font-weight: var(--comment-bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --article-bg-color: #333;
    --article-shadow-color: rgba(0, 0, 0, .3);
    --bg-color: #222;
    --font-color: #AAA;
  }
}
